<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascript/react.min.js"></script>
    <script src="/javascript/react-dom.min.js"></script>
</head>
<body>
{{{body}}}
<script src="/javascript/react.min.js"></script>
<script src="/javascript/react-dom.min.js"></script>
<script src="/javascript/app.js"></script>
</body>
</html>
